.gitattributes export-ignore
.gitignore export-ignore

bin/build export-ignore
bin/dev export-ignore
bin/pack export-ignore
bin/prod export-ignore

# set the phars as binary
bin/*.phar binary

tests/ export-ignore

phpstan.neon export-ignore
