parameters:
    paths:
        - src/
    level: 9

    excludePaths:
        - src/ProductionContainer.php

    ignoreErrors:
        - message: '#Readonly property [a-zA-Z0-9\\]+::\$[a-zA-Z0-9_]+ is assigned outside of the constructor.#'
          paths:
            - src/Project/Project.php
